<!--The content below is only a placeholder and can be replaced.-->
<div class= "form-group col-sm-5"><h1>UniCourt App</h1></div>

<!-- <nav class="nav">
  <a href="#" class="nav-item nav-link active">Home</a>
  <a href="#" class="nav-item nav-link">Profile</a>
  <a href="#" class="nav-item nav-link">Messages</a>
  <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
</nav> -->


<router-outlet></router-outlet>
