<div class="container">
    <div class= "row">
      <div class="input-group">
        <div class="form-group col-lg-8">
          <input type="search" id="form1" class="form-control" [formControl]="searchValue"/>
        </div>
        <button type="button" (click)="getVal()" class="btn btn-dark">Search
        </button>
      </div>
    </div>
</div>