<div class="card">
    <div class="card-body">
      <div class="card-title">{{result.case.case_name}}</div>
      <div class="card-text">{{result.case.state}} | {{result.case.courthouse}} | {{result.case.case_type}} | {{result.case.case_number}}</div>
        <button class= "btn btn-dark" (click)="showDetail(result)">Show Details</button>
    </div>
</div>