<div class="container">
<div class="row">
<div class="col-lg-6" *ngIf="showResult">
<div *ngFor ="let result of results">
    <app-case-card [result]="result"></app-case-card>
</div>
</div>
<div class ="col-lg-6">
    <app-case-detail [result]="selectedResult"></app-case-detail>
</div>
</div>
</div>