<h2>Case Details</h2><button *ngIf="expanded" (click)="resize()">Minimize</button><button *ngIf="!expanded" (click)="resize()">Expand</button>
<h1>{{result.case.case_name}}</h1>
<div class="container">
    <div class= "row">
        <div class ="form-group">
            <label class= "col-md-5">Case Number</label>
            <b><label>{{result.case.case_number}}</label></b>
        </div>
        <div class= "form-group">
            <label class="col-md-5">Case Status</label>
            <b><label>{{result.case.case_status_category}}-{{result.case.case_status_name}}</label></b>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class= "col-md-5">Court</label>
            <b><label>{{result.case.jurisdiction}}</label></b>
        </div>
        <div class="form-group">
            <label class= "col-md-5">Courthouse</label>
            <b><label>{{result.case.courthouse}}</label></b>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class= "col-md-5">Case Type</label>
            <b><label>{{result.case.case_type_group}}-{{result.case.case_type}}</label></b>
        </div>
        <div class="form-group">
            <label class= "col-md-5">Filing date</label>
            <b><label>{{caseDate |date: 'dd-MMM-yyy'}}</label></b>
        </div>
    </div>
</div>
